.body2 {
  font-family: "Kodchasan", sans-serif;
  color: #e0e0e0;
  background: #f7751f;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#header2 {
  background: url(../imgs/car-bg-drive.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.brand {
  font-family: "Shadows Into Light Two", cursive;
  margin-right: 90px;
  color: #f7751e;
  font-weight: 600;
  text-transform: uppercase;
}

.link2 {
  font-family: "Baloo Bhai", cursive;
  color: #d2d2d2;
  margin-right: 50px;
  font-size: 14pt;
  text-decoration: none;
}

.link2:hover {
  color: #f7752e;
}

.activeHash {
  color: #f7752e;
}

.profile {
  margin-left: 50pt;
}

.header {
  text-align: center;
  color: #f7750f;
  font-size: 25px;
  padding-top: 125pt;
  padding-bottom: 300pt;
}

.join {
  font-size: 60pt;
  color: #e0e0e0;
  font-family: "Pacifico", cursive;
}

#respond {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 100pt 90pt;
}

#view2 {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 100pt 90pt;
  color: #d0d0d0;
}

#ride {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 85pt 90pt;
  color: #c8c8c8;
}

h2 {
  font-size: 32pt;
  font-family: "Baloo Bhai", cursive;
}

.detail {
  font-size: 16pt;
  padding: 20pt 20pt;
}

.button {
  border: none;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.accept {
  background-color: transparent;
  color: #e8e8e8;
  border: 2px solid #e8e8e8;
  text-transform: uppercase;
  font-family: "Kodchasan", sans-serif;
  font-size: 12pt;
}

.accept:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f37430;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

td,
th {
  font-size: 16pt;
  padding: 5pt 30pt;
}

input[type="text"] {
  font-family: "Kodchasan", sans-serif;
  font-size: 14pt;
  color: #e8e8e8;
  text-align: center;
  padding: 5pt 30pt;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

.request {
  background-color: transparent;
  color: #d7d7d7;
  border: 2px solid #e8e8e8;
  text-transform: uppercase;
  font-family: "Kodchasan", sans-serif;
  font-size: 16pt;
  margin-top: 30pt;
  margin-bottom: 5pt;
}

.request:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f37430;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.footer {
  text-align: center;
  padding: 8pt 8pt;
  background: black;
  color: #f7751f;
}
