body {
  font-family: "Kodchasan", sans-serif;
  background: #e7712e;
  color: black;
  margin: 0;
}

p {
  text-align: center;
  font-size: 12px;
}

nav {
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 40px;
}

.brand {
  font-family: "Shadows Into Light Two", cursive;
  margin-right: 90px;
  color: #f7751e;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

form {
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: left;
  width: 30%;
  padding: 50px 40px;
  font-size: 18px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  color: black;
  box-sizing: border-box;
  font-family: "Kodchasan", sans-serif;
  font-size: 15px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

input[type="submit"] {
  width: 100%;
  background-color: black;
  color: #e7712e;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
}

.terms {
  color: black;
  font-style: italic;
  font-weight: 600;
}

.footer {
  text-align: center;
  padding: 8pt 8pt;
  color: #000;
  margin: 20pt 10pt;
}
